<div class="jumbotron">
  <h1>Is Chicago better than <%- query %>?</h1>
  <h1 style="display:inline;">Yes!</h1> <h2 style="display:inline">You didn't know? </h2> <p style="display:inline;"><%- fact.title %></p>
</div>
